---
layout: default
---

<div class="home">

  <h1 class="page-heading">Eric’s Conference Talks</h1>

  {% assign coll = site.collections | sort: 'date' | reverse %}

  <ul class="talk-list">
    {% for collection in coll %}
    {% if collection.title %}
    <li>
      <a href="{{collection.permalink | replace_first: ':slug', '001'}}">
        <h2>{{collection.title}}</h2>
        <p>{{ collection.date | date: "%d %B %y, %k:%M" }}h <br>@ {{ collection.conference }}</p>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% comment %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endcomment %}
</div>
