{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[the_collection]  %}
  {% endif %}
{% for links in document  %}
  {% if links.slug == page.slug %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
<nav class="navbar">
  <ul>
    {% assign split_content = content | split: "<!-- more -->" %}
    {% assign spcosi = split_content | size %}
    {{spcosi}}
    {% if spcosi > 1 %}
    {% assign split_content_content = split_content | last | strip %}
    {% if split_content_content == "" %}
    <li aria-hidden="true"></li>
    {% else %}
    <li class="down"><a href="#content" class="more-info">
      <span>{% include icon.html use="arrow-bottom" %} Scroll for more information {% include icon.html use="arrow-bottom" %}</span>
    </a></li>
    {% endif %}
    {% else %}
    <li aria-hidden="true"></li>
    {% endif %}
    <li><a href="/">{% include icon.html use="home" title="Home"%}</a></li>
    <li><a href="{{page.url}}">{% include icon.html use="bookmark" title="Permalink"%}</a></li>
    <li class="pagination"><a id="prevbtn" href="{{prevurl}}">{% include icon.html use="chevron-left" title="Previous"%}</a></li>
    <li class="pagination"><a id="nextbtn" href="{{nexturl}}">{% include icon.html use="chevron-right" title="Next"%}</a></li>
  </ul>
</nav>